* {
    font-family: Helvetica;
}

header h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(pattern.webp);
}

.item h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.Price {
    font-weight: bold;
    color: blue;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}